<html>
  <head>
    <meta charset="utf-8">
    <title>SAMPLE</title>
  </head>
  <body>
      <ul>
        <% sns.forEach((s) => { %>
          <li>
            <div>
              <span><%= s.id %></span>
              <span><%= s.title %></span>
              <span><%= s.content %></span>
            </div>
          </li>
        <% }) %>
      </ul>
  </body>
</html>
