<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>投稿画面</title>
  </head>
  <body>
    <h1>入力フォーム</h1>
<form action="/" method="POST">
    name <input type="text" name="title"><br>
    email <input type="text" name="content"><br>
    <button type="submit">送信</button>

  </body>
</html>
