@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8ff;
  line-height: 1.75;
  font-family: '游ゴシック', 'Yu Gothic', 'メイリオ', 'Meiryo';
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

h1 img {
  width: 150px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

/* タブ機能 */
.tab {
  width: 400px;
  height: 500px;
}

form {
  width: 400px;
  flex-wrap: wrap;
  margin: 0;
  display: flex;
}

#tab01 label, #tab02 label, #tab03 label, #tab04 label {
  background-color: #DBD3F0;
  color: #fff;
}

.items {
  width: 120px;
}

.tab_item {
  height: 60px;
  width: 25%;
  padding-top: 15px;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  background-color: #DBD3F0;
  color: #fff;
}

input[name="tab_item"], .tab_content input[type="radio"] {
  display: none;
}

.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
  width: 400px;
}

#tab_01:checked~#tab01_content,
#tab_02:checked~#tab02_content,
#tab_03:checked~#tab03_content,
#tab_04:checked~#tab04_content {
  display: block;
}

.tab input:checked+.tab_item {
  background-color: #94d6da;
  color: #fff;
}

label:hover {
  cursor: pointer;
}

.tab_content_description {
  height: 440px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #b4e3e6 #f2f2f2;
  scrollbar-width: thin;
}

.tab_content_description::-webkit-scrollbar {
  width: 10px;
}

/*スクロールバーの背景色・角丸指定*/
.tab_content_description::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f2f2f2;
}

/*スクロールバーの色・角丸指定*/
.tab_content_description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b4e3e6;
}

/* イメージ画像 */
.finishimage {
  width: 560px;
  height: 500px;
  padding: 0;
  margin: 0;
}

.customize {
  display: flex;
  height: 510px;
  border: 2px solid #DBD3F0;
  background-color: #fff;
}

.tab_content img {
  width: 120px;
  height: auto;
}

.tab_content_description input:checked+.items img {
  background-color: #e9e9e9;
  color: #fff;
}

.canvas {
  /* width: 560px; */
  height: 508px;
  text-align: center;
  position: relative;
  background-color: #fff;
  border-left: 2px solid #DBD3F0;
  border-bottom: 2px solid #DBD3F0;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

#canvas0, #sengaback {
  z-index: 30;
}

.helpbutton, .backbutton {
  background-color: #B8B8B8;
  border: none;
  font-size: 18px;
  color: #727272;
}

.helpbutton {
  position: absolute;
  right: 10px;
  top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 90;
}

.finishbutton {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: #424242;
  color: #fff;
  font-size: 18px;
  width: 60px;
  height: 40px;
  z-index: 90;
}

.backbutton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 70px;
  height: 30px;
  z-index: 90;
}

.drop_area {
  position: absolute;
  border: solid 1px #000;
  top: 70px;
  left: 70px;
  visibility: hidden;
  z-index: 60;
  color: #333;
  background-color: #bae3f9;
  opacity: 0.3;
}

.customize, .finishimage {
  z-index: 1;
}

#tab04_content {
  position: relative;
  /* width: 960px; */
  height: 510px;
}

.drag-and-drop {
  width: 120px;
  height: auto;
  cursor: move;
  position: absolute;
  z-index: 1000;
}

.gomibako {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 80px;
  background-image: url(../img/gomibako.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.drag_img {
  /* position: absolute; */
  height: 506px;
  /* width: 960px; */
  top: 0px;
  left: -402px;
  overflow-y: scroll;
  /* z-index: 80; */

}

.tab {
/* z-index: 10; */
  pointer-events: auto;
}

.drag_img img {
  position: absolute;
  display: none;
  z-index: 999;
  /* top: 0px; */
    pointer-events: auto;
}

#canvas4 {
  /* border:solid 1px #000; */
  position: absolute;
  top: 257px;
  left: 295px;
}

input[type="button"], button {
  cursor: pointer;
}

.dropareachangebutton {
  position: absolute;
  bottom: 10px;
  left: 100px;
  width: 100px;
  height: 50px;
  height: 55px;
  z-index: 90;
  background-color: #B8B8B8;
  border: none;
  font-size: 14px;
  color: #727272;
}

#canvas4, .drop_area {
  width: 450px;
  height: 370px;
}

#canvas6 {
  visibility: hidden;
}

.backcanvas {
  visibility: hidden;
}

#tab_content_description4 img{
  z-index: 20;
}
